ion-item {
    font-style: italic;
    color: gray;
}
ion-conten {
  color: blue;
}
ion-toolbar{
    color: white;
    background-color: blue;
    font-style: oblique;
}
ng-container{
  background-color: red;
}

