<ion-header>
  <ion-toolbar color ="mi creacion">
    <ion-title class="ion-text-center">Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="mi creacion">

  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validation_messages.email">
       <div 
        *ngIf="
          loginForm.get('email').hasError(validation.type) && 
          (loginForm.get('email').dirty || 
          loginForm.get('email').touched)
        ">
        <h1>{{validation.message}}</h1>
       </div>
      </ng-container>
    </div>



    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input #passwordEyeRegister  [type]="passwordTypeInput" formControlName="password"></ion-input>
      <button  item-end  class="btn_eye_icon"  (click)="togglePasswordMode()">
        <ion-icon  [name]="iconpassword"></ion-icon>
    </button>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.password">
       <div 
        *ngIf="
          loginForm.get('password').hasError(validation.type) && 
          (loginForm.get('password').dirty || 
          loginForm.get('password').touched)
        ">
        <h1>{{validation.message}}</h1>
       </div>
      </ng-container>
    </div>
    
    <ion-button
        expand="full"
        shape="round"
        color="success"
        [disabled]="!loginForm.valid"
        type="submit"
      >Ingresar</ion-button>
      <ion-button
    expand="full"
    shape="round"
    color="warning"
    (click)="goToRegister()"
  >Resgistrate</ion-button>
  </form>
  <h1>{{errorMessage}}</h1>

</ion-content>

<ion-footer>
    
</ion-footer>
  