ion-item {
    font-style: italic;
    color: gray;
}
ion-conten {
  color: blue;
}
ion-toolbar{
    color: white;
    background-color: blue;
    font-style: oblique;
}
ng-container{
  background-color: red;
  
}
.btn_eye_icon{
  position: absolute;
  right: 0;
  bottom: 4px;
  background: transparent;
  ion-icon{
      font-size: 22px;
      color:#757575;
  }
}

.btn_eye_icon:focus{
  outline: none  !important;
}
ion-content h1{
  font-style: italic;
  color: red;
  font-size: small;
  margin-left: 20px;
}

