ion-avatar{
    height: 150px;
    width: 90% ;
}
ion-avatar span{
    font-size: 15px;
}
ion-slides{
    background-color: var(--slide-color-fondo);
}
ion-avatar img{
    height: 90px;
    width: 90px;
}

.square-avatar{
    --border-radius: 0;   
}
.color-fondo{
    background-color: orange;
}