<ion-header>
  <ion-toolbar>
    <ion-title>Configuraciones</ion-title>
    <ion-buttons slot ="end">
      <ion-menu-button>
        
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="todo">
  <br>
  <br>
  <ion-avatar (click)="takePhoto()">
    <img [src]="userImage" *ngIf="!photo"/>
    <img [src]="photo" *ngIf="photo"/>
  </ion-avatar>

  <h1>Nombre</h1>
  <h2>Correo</h2>

  <ion-grid>
    <ion-row class ="center-all">
      <ion-col>Favoritos</ion-col>
      <ion-col>Seguidores</ion-col>
      <ion-col>Artistas Preferidos</ion-col>
    </ion-row>
    <ion-row class ="center-all row-header">
      <ion-col>24</ion-col>
      <ion-col>5</ion-col>
      <ion-col>15</ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>

