.center-all{
    align-items: center;
    text-align: center;
    font-size: 20px;
}
ion-avatar{
    text-align: center;
    margin: 0 auto;
    width: 150px;
    height: 150px;
}
h1{
    margin-bottom: 0;
    font-style: italic;
    text-align: center;
    
}
h2{
    margin-top: 0;
    font-style: italic;
    text-align: center;
}
.row-header{
    font-size: 25px;
    font-weight: bolds;
}

.todo{
    background-color: rgb(241, 184, 77);
    
}